<div>
  <p class="person-name"><%= person.name %> is...</p>
</div>

<div>
  <p class="person-status"><% if person.alive? %>ALIVE<% else %>DEAD<% end %></p>
</div>

<div id="person-details" data-article-title="<%= person.article_title%>" style="display:none">
  <p><%= link_to "Go to Wikipedia article", "http://en.wikipedia.org/wiki/" + person.article_title, :class => "wiki-external", :target => "_blank" %></p>
</div>
