<h1>People Index</h1>
<p>This is a list of people in the database.</p>

<table>
  <tr>
    <% @fields.each do |f| %>
      <th><%= f.humanize %></th>
    <% end %>
    <% @people.each do |p| %>
      <tr>
        <% @fields.each do |f| %>
          <td><%= p[f] %></td>
        <% end %>
      </tr>
      <% end %>
    <tr>
  </tr>
</table>
