// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   font-family: arial;
}

.page-name {
   text-align: center;
   a:link    { color: black; text-decoration: none; }
   a:hover   { color: blue; text-decoration: underline; }
   a:visited { color: black; text-decoration: none; }
   a:active  { color: black; text-decoration: none; }
}

h2 {
   text-align: center;
}

p {
   text-align: center;
}

table {
   width: 70%;
   text-align: left;
}

.person-name {
   text-align: center;
}

.person-status {
   text-align: center;
   font-size: 72pt;
}

.people-search {
   text-align: center;
}
